header,footer{
    height: 33px;
    background-color: aqua;
    border: 3px solid blue;
}
main{
    height: 1000px;
    border: 2px solid black;
}
.cont{
    height: 500px;
    border: 2px solid red;
}